<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit listing</title>
  </head>
  <body>
    <h3>edits you listing: <%= listing._id %></h3>
    <form method="POST" action="/listings/<%= listing.id %>?_method=PUT">
      <input
        type="text"
        name="listing[title]"
        rows="10"
        value="<%= listing.title %>" /><br /><br />
      <textarea name="listing[description]" cols="50" rows="10">
<%= listing.description %>
        </textarea
      ><br /><br />
      <input
        type="text"
        name="listing[image]"
        value="<%= listing.image %>" /><br /><br />
      <input
        type="number"
        name="listing[price]"
        value="<%= listing.price %>" /><br /><br />
      <input
        type="text"
        name="listing[location]"
        value="<%= listing.location %>" /><br /><br />
      <input
        type="text"
        name="listing[country]"
        value="<%= listing.country %>" /><br /><br />
      <button>Edit</button>
    </form>
  </body>
</html>
